.comments-layout {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  background-color: rgb(36, 36, 36);
  padding: 15px;
  gap: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.18);
  max-height: 200px;
  overflow-y: auto;
}

.comment-wrapper {
  position: relative;
  display: flex;
  gap: 10px;
  padding: 15px 5px 5px 5px;
  border-top: 1px solid rgb(48, 48, 48);
}
.comment-info {
  white-space: wrap;
  word-break: break-all;
  text-align: left;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}
.comment-info-p {
  font-size: 13px;
  color: rgb(196, 196, 196);
}
.comment-input {
  border-top: 1px solid rgb(48, 48, 48);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5px 5px 5px;
}
.comment-input input {
  width: 75%;
}
.comment-delete {
  position: absolute;
  right: 0;
  top: 15px;
  cursor: pointer;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.comment-delete-icon {
  color: rgb(197, 0, 0);
}
